
  div {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
  }

  h1{ background-position: 2%;
    background-color: rgb(84, 122, 156);
    font-size: smaller;}
    
    h2{ background-color: aliceblue;
    font-size: larger;}
    
    body{ font-size: medium;
        margin-top: 20%;
        margin-bottom: 13%;
        margin-right: 80%;
        margin-block-start: 10%;
        margin-block-end: 59%;
        position: sticky; 
        background-color: rgb(175, 245, 245);
        background-blend-mode: color-burn;
        font-size: large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: end;
        line-height: 190%;
        display: flexbox;
        padding-top: 35%;
        padding-bottom: 35%;
        padding-left: 15%;
        padding-right: 15%;}