h1{color: rgb(4, 252, 115);}
h1{ color: rgb(65, 224, 163);}

body { color: rgb(211, 154, 47);
       font-size: medium;
       font-style: italic;
       font-weight: 400;
       font-family: Arial, Helvetica, sans-serif;
       float: right;
       float: left;
}

   span { color: rgb(252, 70, 155);
}

span{ color: rgb(253, 37, 8);}

.offset{ position: absolute;
         top: 22%;
         bottom: 15%;
         right: 10%;
         left: 10%;
}

.righticon{ float: right;}




