h1{ background-color: blue;}

.header{ text-align: center;
    font-size: 4em;
    font-family: sans-serif;
    background-color: aqua;}


     body{ font-size: 100%;
        background-color: rgb(255, 255, 255);}

     body{ border-bottom-style: double;
        border-width: 2em;
    border-top: 6em;
    border-bottom: 2em;
    border-radius: 2%;}

    div{ padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 50px; 
        padding-left: 80px;
        border-radius: 4px;}

        body{ font-family: 'Courier New', Courier, monospace;
        font-size: larger;
        font-weight: 800;
        text-align: right;
        line-height: 7%;
        letter-spacing: 12em;
        text-transform: uppercase;}
        
   


